---
- hosts: all
  tasks:
  - name: Docker | Install apt dependencies for ansible apt
    apt:
      pkg: "{{ item }}"
      state: latest
    with_items:
      - python-apt
      - apt-transport-https
    sudo: yes

  - name: Docker | Add docker.io apt key
    apt_key:
      keyserver: 'keyserver.ubuntu.com'
      id: A88D21E9
      state: present
    sudo: yes

  - name: Docker | Add docker.io ubuntu apt repository
    apt_repository:
      repo: 'deb https://get.docker.io/ubuntu docker main'
      state: present
    sudo: yes

  - name: Docker | Make sure docker and its dependencies are installed
    apt:
      pkg: "{{ item }}"
      state: present
    with_items:
      - lxc-docker
    sudo: yes

  - name: Clone docker-py repository
    git: repo=https://github.com/docker/docker-py.git dest=/opt/docker-py
    sudo: yes

  - name: Install python-setuptools
    apt: pkg=python-setuptools state=present
    sudo: yes

  - name: install docker-py
    command: python setup.py install chdir=/opt/docker-py creates=/usr/local/lib/python2.7/dist-packages/docker_py-0.6.1_dev-py2.7.egg
    sudo: yes

# From http://docs.ckan.org/en/latest/maintaining/installing/install-using-docker.html#installing-ckan
# docker run -d --name db ckan/postgresql
# docker run -d --name solr ckan/solr
# docker run -d -p 80:80 --link db:db --link solr:solr ckan/ckan

  - name: Run postgresql image
    docker: image="ckan/postgresql" name="db" state=running
    sudo: yes

  - name: Run solr image
    docker: image="ckan/solr" name="solr" state=running
    sudo: yes

  - name: Run ckan image
    docker: image="ckan/ckan" name="ckan" ports="80:80" links=db:db,solr:solr state=running
    sudo: true